QDRANT__ENDPOINT=end_point_here
QDRANT__API_KEY=key_here
QDRANT__COLLECTION_NAME=studienberater
QDRANT__VECTOR_DIMENSIONS=1024

OLLAMA__EMBEDDING_MODEL=bge-m3
OLLAMA__LANGUAGE_MODEL=qwen2.5:7b
OLLAMA__BASE_URL=http://localhost:11434

CHUNKING__CHUNK_SIZE=512
CHUNKING__CHUNK_OVERLAP=50

GUARDRAIL__MIN_SCORE=0.5

LOGGING__LEVEL=DEBUG